body {
	margin: 0 auto;
	font-size: 12px;
	font-family: Helvetica, sans-serif;
}

.wrapper {
	width: 90%;
	margin: 0 auto;
}

header {
	width: 100%;
	background: #888;
	padding: 10px 0;
}


#logo {
	width: 128px;
	height: 128px;
	//background: url("pics/logo.png") no-repeat;
}
.hidden { display: none;}

nav {
	float: right;
	font-size: 20px;
	margin-top: -23px;
}

nav ul {
	margin: 0;
}

nav ul li{
	list-style: none;
	float: left;
	margin: 0 10px;
	width: 100px;
	text-align: center;
}

nav ul li a {
	text-decoration: none;
	color: #000;
}

nav ul li a:hover {
	border-bottom: 1px solid sandybrown;	
	color: sandybrown;
}

/* MAIN */

h3 {
	font-size: 25px;
	text-align: center;
	padding-top: 35px;
	margin: 90px 0 40px;
}

#city-anchor, #fruit-anchor, #food-anchor {
	height: 400px;
	width: 100%;
	clear: left;
	margin: 0 2.5%;
}

.city-article {
	width: 33%;
	float:left;
}
.city-article .caption {
	position: absolute;
	background: #666;
	color: #fff;
	margin-top: -60px;
	height: 27px;
	width: 260px;
	padding: 15px 30px;
	opacity: .5;
	font-size: 20px;
}

.city-article .caption:hover {
	opacity: .8;
}

.fruit-article {
	width: 22%;
	margin-left: 2%;
	float:left;
}

.first {
	margin-left: 0.5%;
}

.fruit-article div.fruit-wrapper {
	box-shadow: 1px 2px 3px #888888;
	text-align: center;
	display: inline-table;
	min-height: 315px;
}
.fruit-article div.fruit-wrapper:hover {
	box-shadow: 2px 2px 7px sandybrown;
	margin-top: -3px;
	margin-left: -3px;
}
.fruit-article img {
	margin: 20px 0 10px;
}
.fruit-article .caption {
	width: 220px;
	margin: 0 10px;
	padding-bottom: 20px;
	text-align: left;
}
.fruit-article h5 {
	font-size: 14px;
	margin: 10px 0;
	text-transform: uppercase;
	text-indent: 10px;
}
.fruit-article p {
	margin: 0;
	font-size: 14px;
	line-height: 1.5;
}

mark {
	background: sandybrown;
}

form {
	margin: 0 auto;
	width: 30%;
	font-size :16px;
}

form input {
	margin-left: 10px;
	height: 25px;
	padding: 5px 10px;
	width: 180px;
	font-size: 12px;
	border: 1px solid #efefef;
}
form textarea {
	border: 1px solid #efefef;
}

form input[type=submit] {
	height: 40px;
	padding: 10px; 
	background: sandybrown;
	font-size: 14px;
	border: 1px solid #efefef;
	border-radius: 5px;
}

form .left{
	float: left;
	clear: right;
}
form .right{
	float: right;
}
form .clear{
	clear: both;
}

footer {
	clear: both;
	text-align: right;
	font-size: 10px;
	margin-top: 50px;
	border-top: 1px solid #888;
	padding: 10px 0 20px;
}