body {
	margin: 0 auto;
	font-size: 62.5%;
	font-family: Helvetica, sans-serif;
}

.wrapper {
	width: 90%;
	margin: 0 auto;
}

header {
	width: 100%;
	border-bottom: .125rem solid #888;
	padding: .625rem 0;
}


#logo {
	width: 8rem;
	height: 8rem;
}

.hidden { 
	display: none;
}

nav {
	float: right;
	font-size: 1.25rem;
	margin-top: -1.4rem;
}

nav ul {
	margin: 0;
}

nav ul li{
	list-style: none;
	float: left;
	margin: 0 .625rem;
	width: 6.25rem;
	text-align: center;
}

nav ul li a {
	text-decoration: none;
	color: #000;
}

nav ul li a:hover {
	border-bottom: .0625rem solid sandybrown;	
	color: sandybrown;
}

/* MAIN */

h3 {
	font-size: 1.6rem;
	text-align: center;
	padding-top: 2.2rem;
	margin: 5.6rem 0 2.5rem;
}

#city-anchor, #fruit-anchor, #food-anchor {
	height: 25rem;
	width: 100%;
	clear: left;
}

.city-article {
	margin: 0 1.2rem;
	float:left;
}
.city-article .caption {
	position: absolute;
	background: #666;
	color: #fff;
	margin-top: -3.75rem;
	height: 1.8rem;
	width: 16.25rem;
	padding: .94rem 1.875rem;
	opacity: .5;
	font-size: 1.25rem;
}

.city-article .caption:hover {
	opacity: .8;
}

.fruit-article {
	margin: 0 .2rem;
	margin-left: 2%;
	float:left;
}

.fruit-article div.fruit-wrapper {
	box-shadow: .0625rem .125rem .1875rem #888888;
	text-align: center;
	display: inline-table;
	min-height: 19.7rem;
}
.fruit-article div.fruit-wrapper:hover {
	box-shadow: .0625rem .125rem .4375rem sandybrown;
	margin-top: -.1875rem;
	margin-left: -.1875rem;
}
.fruit-article img {
	margin: 1.25rem 0 .625rem;
}
.fruit-article .caption {
	width: 13.75rem;
	margin: 0 .625rem;
	padding-bottom: 1.25rem;
	text-align: left;
}
.fruit-article h5 {
	font-size: .87rem;
	margin: .625rem 0;
	text-transform: uppercase;
	text-indent: .625rem;
}
.fruit-article p {
	margin: 0;
	font-size: .87rem;
	line-height: 1.5;
}

mark {
	background: sandybrown;
}

form {
	margin: 0 auto;
	width: 30%;
	font-size : 1rem;
}

form input {
	margin-left: .625rem;
	height: 1.56rem;
	padding: .3rem .625rem;
	width: 11.25rem;
	font-size: .85rem;
	border: .0625rem solid #efefef;
}
form textarea {
	border: 1px solid #efefef;
}

form input[type=submit] {
	height: 2.5rem;
	padding: .625rem; 
	background: sandybrown;
	font-size: .85rem;
	border: .0625rem solid #efefef;
	border-radius: .3rem;
}

form .left{
	float: left;
	clear: right;
}
form .right{
	float: right;
}
form .clear{
	clear: both;
}

footer {
	clear: both;
	text-align: right;
	font-size: .6rem;
	margin-top: 3.125rem;
	border-top: .0625rem solid #888;
	padding: .625rem 0 1.25rem;
}